:host {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}

#map {
    width: 100%;
    height: 100%;
    outline: none; /* Remove focus ring */
}
